.BigDiv {
    background-color: black;
    text-align: center;
    padding: 5px;
}
.BigDiv div {
    display: inline;
    color: white;
    font-size: 70px;
    margin: 5px;
    padding: 5px;
    background-color: #313131;
    border-radius: 10px;
}